In [1]:
import pandas as pd

In [53]:
temp = pd.read_csv('hr_temp_20170201-20200131_subset.csv')

In [54]:
temp2 = pd.read_csv('hr_temp_20200201-20200229_subset.csv')

In [57]:
energy = pd.read_csv('hrl_load_metered - 20170201-20200131.csv')

In [58]:
energy['datetime_beginning_ept'] = pd.to_datetime(energy['datetime_beginning_ept'])

In [55]:
temp = temp.append(temp2)

In [56]:
temp['DATE'] = pd.to_datetime(temp['DATE'])

In [59]:
final = temp.join(energy, how='left')

In [60]:
final = final[['DATE','HourlyDryBulbTemperature','mw']]

In [32]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26976 entries, 0 to 26279
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DATE                      26976 non-null  datetime64[ns]
 1   HourlyDryBulbTemperature  26939 non-null  float64
 2   mw                        26976 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 843.0 KB

In [33]:
import datetime as dt

In [61]:
final['weekday'] = final['DATE'].dt.weekday
final['hour'] = final['DATE'].dt.hour
final['month'] = final['DATE'].dt.month
final['year'] = final['DATE'].dt.year

In [63]:
final.set_index('DATE', inplace=True)

In [64]:
final.interpolate('linear', inplace=True)

In [65]:
final.sort_index(inplace=True)

In [67]:
final.reset_index(inplace=True)

In [68]:
final

,DATE,HourlyDryBulbTemperature,mw,weekday,hour,month,year
0,2017-02-01 00:53:00,37.0,1419.881,2,0,2,2017
1,2017-02-01 01:53:00,37.0,1379.505,2,1,2,2017
2,2017-02-01 02:53:00,36.0,1366.106,2,2,2,2017
3,2017-02-01 03:53:00,36.0,1364.453,2,3,2,2017
4,2017-02-01 04:53:00,36.0,1391.265,2,4,2,2017
...,...,...,...,...,...,...,...
26971,2020-02-29 19:51:00,25.0,1556.454,5,19,2,2020
26972,2020-02-29 20:51:00,25.0,1528.344,5,20,2,2020
26973,2020-02-29 21:51:00,25.0,1470.758,5,21,2,2020
26974,2020-02-29 22:51:00,24.0,1398.308,5,22,2,2020
26975,2020-02-29 23:51:00,23.0,1325.088,5,23,2,2020

In [69]:
final.rename(columns={'DATE':'date',
            'HourlyDryBulbTemperature':'temp'}, inplace=True)

In [70]:
final = final[['date','mw','temp','hour','weekday','month','year']]

In [72]:
train = final[final['year']<=2019].copy()

In [73]:
train

                     date        mw  temp  hour  weekday  month  year
0     2017-02-01 00:53:00  1419.881  37.0     0        2      2  2017
1     2017-02-01 01:53:00  1379.505  37.0     1        2      2  2017
2     2017-02-01 02:53:00  1366.106  36.0     2        2      2  2017
3     2017-02-01 03:53:00  1364.453  36.0     3        2      2  2017
4     2017-02-01 04:53:00  1391.265  36.0     4        2      2  2017
...                   ...       ...   ...   ...      ...    ...   ...
25531 2019-12-31 19:53:00  1606.134  32.0    19        1     12  2019
25532 2019-12-31 20:53:00  1565.014  32.0    20        1     12  2019
25533 2019-12-31 21:53:00  1515.905  32.0    21        1     12  2019
25534 2019-12-31 22:53:00  1474.519  30.0    22        1     12  2019
25535 2019-12-31 23:53:00  1421.717  30.0    23        1     12  2019

[25536 rows x 7 columns]

In [74]:
test = final[final['year']>2019].copy()

In [75]:
test

                     date        mw  temp  hour  weekday  month  year
25536 2020-01-01 00:53:00  1363.428  31.0     0        2      1  2020
25537 2020-01-01 01:53:00  1335.975  29.0     1        2      1  2020
25538 2020-01-01 02:53:00  1296.817  30.0     2        2      1  2020
25539 2020-01-01 03:53:00  1288.403  30.0     3        2      1  2020
25540 2020-01-01 04:53:00  1292.263  31.0     4        2      1  2020
...                   ...       ...   ...   ...      ...    ...   ...
26971 2020-02-29 19:51:00  1556.454  25.0    19        5      2  2020
26972 2020-02-29 20:51:00  1528.344  25.0    20        5      2  2020
26973 2020-02-29 21:51:00  1470.758  25.0    21        5      2  2020
26974 2020-02-29 22:51:00  1398.308  24.0    22        5      2  2020
26975 2020-02-29 23:51:00  1325.088  23.0    23        5      2  2020

[1440 rows x 7 columns]